<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>personal-blog-admin</title>
    </head>
    <body style="margin: 0px;">
        <div id="app" style="height:100%; width:100%; position: absolute;">
            <transition name="el-zoom-in-top">
                <el-tabs v-show="showAdmin" tab-position="left" style="height: 100%;">
                    <el-tab-pane label="用户管理">用户管理</el-tab-pane>
                    <el-tab-pane label="配置管理">配置管理</el-tab-pane>
                    <el-tab-pane label="角色管理">角色管理</el-tab-pane>
                    <el-tab-pane label="定时任务补偿">定时任务补偿</el-tab-pane>
                </el-tabs>
            </transition>
            <div  v-if="!showAdmin" style="height:100%; width:100%; position: absolute;">
                <login-page></login-page>
                <el-card id="loginPage" class="box-card">
                    <div slot="header" class="clearfix" style="font-size: 18px;">
                        登录管理系统
                    </div>
                    <div>
                        <el-input style="padding-bottom: 15px;"
                            placeholder="请输入用户名"
                            v-model="userName"
                            clearable>
                        </el-input>
                        <el-input style="padding-bottom: 15px;"
                            placeholder="请输入密码"
                            v-model="password"
                            clearable>
                        </el-input>
                        <el-button type="primary" v-on:click="login()">登录</el-button>
                    </div>
                </el-card>
            </div>
        </div>
    </body>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>

    <!-- Element UI -->
    <script src="https://cdn.jsdelivr.net/npm/element-ui@2.13.0/lib/index.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.13.0/lib/theme-chalk/index.css">
    <!-- Element UI -->

    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/qs@6.9.1/dist/qs.js"></script>
    <!-- AXIOS -->

    <link rel="stylesheet" href="admin.css">

    <script>
        new Vue({
            el: '#app',
            data: function() {
                return { 
                    showAdmin: false,
                    userName: null,
                    password: null
                }
            },
            methods: {
                login: function() {
                    console.info('Login Function');
                    let data = {
                        username: this.userName,
                        password: this.password
                    }
                    axios.post('login', window.Qs.stringify(data)).then(res => {
                        console.info(data);
                    }).catch( err => {
                        console.info(err);
                    });
                    // this.showAdmin = true
                }
            }
        });
    </script>
</html>


